<html>
  <body>
      <p-toast></p-toast>
    <p align=center><img src="../assets/marca.png"/> </p>
    <div class="ui-g">
      <div class="ui-g-5"></div>
      <div class="ui-inputgroup"> </div>
      <div class="ui-inputgroup" style="margin-bottom:20px;">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i>Usuário</span>
        <input type="text" pInputText [(ngModel)]="usuario.siape">
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-5"></div>
      <div class="ui-inputgroup"> </div>
      <div class="ui-inputgroup" style="margin-bottom:20px;">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i>Senha</span>
        <input type="text" pInputText [(ngModel)]="usuario.senha">
      </div>
    </div>


    <div class="ui-g">
      <div class="ui-g-5"> </div>
      <div class="ui-inputgroup" ></div>
      <div class="ui-g-6"><p-button label="entrar" (click)="fazerLogin()" ></p-button>  </div>
    </div>




  </body>
</html>


